.App {
  text-align: center;
  color :black;
}


nav{
  background: rebeccapurple;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  font-size: 30px;
  
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}
.nav-links li{
  color: white;
}
.shoplinks{
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-20deg, #ddb4f0 0%, #e7dcf3 100%);


}
.shoplink{

  border-radius: 30px;
  height: 60px;
  padding: 10px 30px;
  width: 600px;
}


